{% extends 'base.html' %}}

{% block head %}
<title>Task Master </title>
{% endblock %}

{% block body %}

<div class="content container-md mx-auto card py-2 px-5 mx-auto" id="main">
    <h1 style='text-align: center'>Task Master</h1>
    
    {% if tasks|length < 1 %}
    <h4 style='text-align: center'>No tasks now</h4>
    {% else %}

    <div class="overflow-auto">
        
        <table class="table">
            <tr>
                <th>Task</th>
                <th>Added</th>
                <th>Actions</th>
            </tr>
            {% for task in tasks %}
                <tr>
                    <td>{{ task.content }}</td>
                    <td>{{ task.date_created.date() }}</td>
                    <td>
                        <a href="/delete/{{ task.id }}">Delete</a>
                        <br>
                        <a href="/update/{{ task.id }}">Update</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

    {% endif %}
    <!--Submit button-->
    <div class="mx-auto" style="width: 90%; padding-top: 20px;">
        <form action="/" method="POST" class="d-flex justify-content-around">
            <input type="text" name="content" id="content">
            <input class="btn btn-primary" type="submit" value="Add Task">
        </form>
    </div>
</div>

{% endblock %}